<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.walid.hellotime</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/anaconda3/bin/python3</string>
        <string>/Users/walid/automation-lab/week1/hello_time.py</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/walid/automation-lab/week1/launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/walid/automation-lab/week1/launchd.err.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
